.Flex {
  display: flex;
  justify-content: space-around;
}

.test {
  margin-right: 300px;
  margin-top: 0px;
}

.Posts {
  flex-direction: column;
  align-items: flex-start;
}

.post-wrapper {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}

.post-wrapper:hover {
  background-color: purple;
}

.not-post {
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

.Category {
  flex-direction: row;
  margin-top: 50px;
}

.new-post {
  margin-top: 10px;
}

.Sorts {
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 40px;
}

.sort-button {
  font: 15px;
  text-decoration: none;
  color: white;
  padding: 0px 6px 2px 6px;
}

.sort-button:hover {
  background-color: #FF4DFF;
}

.sort-button:active {
  background-color: #FFEEFF;
}

.Link {
  font: 15px;
  text-decoration: none;
  background-color: gray;
  color: white;
  margin-right: 5px;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
}

.Link:hover {
  background-color: #FF4DFF;
}

.Link:active {
  background-color: #FFEEFF;
}

.selected {
  background-color: purple;
}

.deselected {
  background-color: gray;
}
